Xiegu-G90.json
[
    {
        "id": "08bf4f59bd2b72bb",
        "type": "tab",
        "label": "Ham-Radio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a10789b40779f359",
        "type": "serial out",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Serial Port OUT",
        "serial": "4f46147fbb90ce43",
        "x": 1640,
        "y": 2260,
        "wires": []
    },
    {
        "id": "450c4632727fc25a",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Freq",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x03\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 170,
        "y": 2020,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ],
        "info": "In this example, a radio having the CI-V address of 28h (40d) is polled for current frequency.  Change the 0x28 element to your radio address.  Also, change the radio address constant in the function node."
    },
    {
        "id": "b5a5bdd9066d2f2d",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get ATT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x11\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2340,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "f88fb4953c3afbb1",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V ATU start tuning",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x01\",\"0x02\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 440,
        "y": 720,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "d340d503691afdb5",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V ATU on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x01\",\"0x01\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "20ef6722717ad80d",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V ATU off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x01\",\"0x00\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 410,
        "y": 800,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "628a7cafbebcf3a1",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 20,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "3.780 Mhz",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x05\",\"0x00\",\"0x00\",\"0x78\",\"0x03\",\"0x00\",\"0xFD\"]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "26033f0c7edade43",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "PTT",
        "group": "14a5ecb8405f0776",
        "order": 30,
        "width": "6",
        "height": "2",
        "passthru": false,
        "label": "<font size = 16>{{msg.pttlabel}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.colour}}",
        "className": "",
        "icon": "",
        "payload": "status",
        "payloadType": "flow",
        "topic": "",
        "topicType": "str",
        "x": 1350,
        "y": 4000,
        "wires": [
            [
                "41320f2fc814984a"
            ]
        ]
    },
    {
        "id": "3ec7117f83042286",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 21,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "3.770 Mhz",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x05\",\"0x00\",\"0x00\",\"0x77\",\"0x03\",\"0x00\",\"0xFD\"]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "b4730c8de5b0aba5",
        "type": "ui_switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "Dial encoder lock",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 26,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 730,
        "y": 3900,
        "wires": [
            [
                "6aa2ea42454e44fd"
            ]
        ]
    },
    {
        "id": "e4d8a9d18bd49fa3",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 3900,
        "wires": [
            [
                "2e3d67f18f3c0f77"
            ],
            [
                "f428f953e30d2e92"
            ]
        ]
    },
    {
        "id": "f428f953e30d2e92",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "Lock",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x50\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 3920,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "2e3d67f18f3c0f77",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "Unlock",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x50\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 3880,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "8a1d904dd188f97d",
        "type": "serial in",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Serial Port IN",
        "serial": "ec716c16.1aa96",
        "x": 210,
        "y": 2580,
        "wires": [
            [
                "6add312b630d46cf",
                "f8abc31fdeb8a1f1",
                "99ef0848469a727a",
                "e2075e2449170fc5",
                "5392df8401397538",
                "a5b1b76303512220",
                "ed9bd9f681488fef",
                "da41913b3e2e0f5c",
                "60a37af66fdd9fc7",
                "e22de85342258efa",
                "e19f51b50856161b",
                "e80d546f2be10e7f",
                "c3ec7a87cef85013",
                "b3ef123be07d59b4"
            ]
        ]
    },
    {
        "id": "6add312b630d46cf",
        "type": "debug",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 2580,
        "wires": []
    },
    {
        "id": "c6ca9825f09623cf",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "freq",
        "topi": "topic",
        "x": 820,
        "y": 2640,
        "wires": [
            [
                "92dda92aa1a738ce",
                "23f4403199cf397a"
            ]
        ]
    },
    {
        "id": "d3ceacda0d699698",
        "type": "ui_switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "Preamp",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 760,
        "y": 3660,
        "wires": [
            [
                "3ddf0fd5556422f1"
            ]
        ]
    },
    {
        "id": "7bd694c5772f9646",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 3660,
        "wires": [
            [
                "38c969d489ef9cdb",
                "6d2733f59c2cfa18"
            ],
            [
                "a562e9c67497ede9",
                "2254c5b3c2ea937a"
            ]
        ]
    },
    {
        "id": "a562e9c67497ede9",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x02\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 3680,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "38c969d489ef9cdb",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x02\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 3640,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "7ff67a3273f6a0ba",
        "type": "ui_switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "Noise Blanker",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 25,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 740,
        "y": 3800,
        "wires": [
            [
                "0a8b3738b987b462"
            ]
        ]
    },
    {
        "id": "e6d492a173919170",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get S-Meter",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x15\",\"0x02\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2060,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "2714c273b573f611",
        "type": "ui_slider",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "TX Power",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 1040,
        "y": 2780,
        "wires": [
            [
                "bb2093aad746ef0e"
            ]
        ]
    },
    {
        "id": "bb2093aad746ef0e",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "20",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1180,
        "y": 2780,
        "wires": [
            [
                "9c178dd1d50d8460"
            ]
        ]
    },
    {
        "id": "9c178dd1d50d8460",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "var a = 0xFE;\nvar b = 0xFE;\nvar c = 0x88;\nvar d = 0xE0;\nvar e = 0x14;\nvar f = 0x0A;\nvar g;\nvar h;\nvar i = 0xFD;\nvar k = [];\n\nvar value = msg.payload;\n\nif (value > 199 && value < 256) {\n    g = 0x02;\n      value = value - 200;\n}\n\nelse if (value > 99 && value < 200) {\n    g = 0x01;\n    value = value - 100;\n} \n\nelse {\n    g = 0x00;\n}\n\nh = parseInt(value,16);\n\nk = [a,b,c,d,e,f,g,h,i];\n\nmsg.payload = new Buffer(k);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 2780,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "b1caff2e0ce6d6b4",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "\nvar a = 0xFE;\nvar b = 0xFE;\nvar c = 0x88;\nvar d = 0xE0;\nvar e = 0x05;\nvar f = 0x00;\nvar HZ  = flow.get(\"HZ\")||0;\nvar KHZ = flow.get(\"KHZ\")||0;\nvar MHZ = flow.get(\"MHZ\")||0;\nvar GHZ = 0x00;\nvar END = 0xFD;\n\nvar k =[];\n\nfunction toHex(d) {\n    return  (\"0\"+(Number(d).toString(16))).slice(-2).toUpperCase()\n}\n\nMHZ = toHex(MHZ);\nMHZ = parseInt(MHZ);\nKHZ = toHex(KHZ);\nKHZ = parseInt(KHZ);\n HZ = toHex(HZ);\n HZ = parseInt(HZ);\n \n///////////////\n// MHZ BIT 0 //\n//////////////////////////////////////////\nif (msg.payload === 'MMMUP'){\n    MHZ = MHZ + 10;\n}\n\nif (msg.payload === 'MMMDW'){\n    MHZ = MHZ - 10;\n    if (MHZ < 0){\n        MHZ = 0;\n    }\n}\n \n//////////////\n// MHZ BIT 1//\n//////////////////////////////////////////\nif (msg.payload === 'MMUP'){\n    MHZ = MHZ + 1;\n     if (MHZ > 9){\n        MHZ + 10;\n    }\n}\n\nif (msg.payload === 'MMDW'){\n    MHZ = MHZ - 1;\n    if (MHZ < 0){\n        MHZ = 0;\n    }\n}\n\n/////////\n// KHZ //\n//////////////////////////////////////////\nif (msg.payload === 'KKKUP'){\n    KHZ = KHZ + 10;\n     if (KHZ > 99){\n        KHZ = KHZ - 10;\n    }\n}\n\nif (msg.payload === 'KKKDW'){\n    KHZ = KHZ - 10;\n    if (KHZ < 0){\n       KHZ = KHZ + 10;\n    }\n}\n\n/////////\n// KHZ //\n//////////////////////////////////////////\nif (msg.payload === 'KKUP'){\n    KHZ = KHZ + 1;\n    if (KHZ > 99){\n        KHZ = 99;\n    }\n}\n\nif (msg.payload === 'KKDW'){\n    KHZ = KHZ - 1;\n    if (KHZ < 0){\n        KHZ = 0;\n    }\n}\n\n////////\n// HZ //\n//////////////////////////////////////////\nif (msg.payload === 'KUP'){\n    HZ = HZ + 10;\n    if (HZ > 90){\n        HZ = 0;\n        KHZ ++;\n    }\n}\n\nif (msg.payload === 'KDW'){\n    HZ = HZ - 10;\n    if (HZ < 0){\n        HZ = 90;\n        \n        if (KHZ > 0){\n            KHZ--;\n        }\n    }\n}\n    \n    MHZ = parseInt(MHZ,16);\n    KHZ = parseInt(KHZ,16);\n    HZ = parseInt(HZ,16);\n    \n    k = [a,b,c,d,e,f,HZ,KHZ,MHZ,GHZ,END];\n    msg.payload = new Buffer(k); \n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1380,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "d95a1d66a932ff1c",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 17,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>-",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KDW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1700,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "6ddbee0a8a6a3e61",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 11,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>+",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KUP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "1aa007d38cf87974",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 16,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>-",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KKDW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "d7f8b4c7ad4d0ac3",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>+",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KKUP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "8eed9008bd4b17a7",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>+",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KKKUP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "d14c2a0b97961b82",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 15,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>-",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "KKKDW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1500,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "6c59891f0cbf228a",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>+",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "MMUP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1340,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "0c1d7d76e2042955",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>-",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "MMDW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "b1caff2e0ce6d6b4"
            ]
        ]
    },
    {
        "id": "17a28a12d7e24fc6",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 22,
        "width": "2",
        "height": "1",
        "passthru": true,
        "label": "3.750 Mhz",
        "tooltip": "",
        "color": "Black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x05\",\"0x00\",\"0x00\",\"0x75\",\"0x03\",\"0x00\",\"0xFD\"]",
        "payloadType": "bin",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "eb6282a3bbd55ee4",
        "type": "ui_switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "Att",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 23,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 3360,
        "wires": [
            [
                "711c8294c98cdc22"
            ]
        ]
    },
    {
        "id": "11b08f77e95f0a19",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 3800,
        "wires": [
            [
                "1f1791f26aa2e5e7"
            ],
            [
                "aa19a549d1f5b043"
            ]
        ]
    },
    {
        "id": "1f1791f26aa2e5e7",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x22\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 3780,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "aa19a549d1f5b043",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x22\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 3820,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "aed6d944a040185b",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 3500,
        "wires": [
            [
                "a47ae4034a03a61f",
                "c90c4a89255c47c0"
            ],
            [
                "a40b91731918318c",
                "450a95e55618fbef"
            ]
        ]
    },
    {
        "id": "a47ae4034a03a61f",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x11\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 3500,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "406161e62ae78056",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>+",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "MMMUP",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1260,
        "wires": [
            [
                "b1caff2e0ce6d6b4",
                "b8c6d893308cfbef"
            ]
        ]
    },
    {
        "id": "cc66dc271c24a9be",
        "type": "ui_button",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "group": "14a5ecb8405f0776",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "label": "<font size = 5>-",
        "tooltip": "",
        "color": "yellow",
        "bgcolor": "black",
        "className": "",
        "icon": "",
        "payload": "MMMDW",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1300,
        "wires": [
            [
                "b1caff2e0ce6d6b4",
                "f08b71aa8b84b192"
            ]
        ]
    },
    {
        "id": "f8abc31fdeb8a1f1",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get Frequency",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 3 Get Frequency\n// Warren, KD4Z\n// Modify by Real VE2CUZ\n\n\nconst CMD_GETFREQ = 0x03;\nconst RADIO_ADDR = 0x88;    // change this to your radio address\nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar addDebug = true;\nvar dataStartOffset = 5;\n\nvar sender = 0;\nvar destination = 0;\nvar command = 0;\n\nvar MHZ = 0;\nvar mhz = 0; // Save var on FLOW\n\nvar KHZ = 0;\nvar khz = 0; // Save var on FLOW\n\nvar HZ = 0;\nvar hz = 0; // Save var on FLOW\n\nvar FREQ = 0;\n\ndestination = msg.payload[2];\nsender      = msg.payload[3];\ncommand     = msg.payload[4];\n\nif (addDebug)\n{\n    msg.sender      = sender;\n    msg.destination = destination;\n    msg.command     = command;\n}\n\nif (command == CMD_GETFREQ && sender == RADIO_ADDR )\n{\n    //////////////////\n    // Save on FLOW //\n    ///////////////////////////////////////////////\n    flow.set('FREQ',msg.payload);\n    \n    mhz = msg.payload[8];\n    flow.set('MHZ',mhz);\n\n    khz = msg.payload[7];\n    flow.set('KHZ',khz);\n\n    hz = msg.payload[6];\n    flow.set('HZ',hz);\n    ///////////////////////////////////////////////\n\n    ofs = dataStartOffset;  // [0x70]\n    \n    HZ  =  ((msg.payload[ofs] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    HZ  += ((msg.payload[ofs] & MASK_LOWNIB)      );       // lownibble    \n    \n    ofs ++;  // 6 [0x56]\n    \n    KHZ =  (msg.payload[ofs] & MASK_HIGHNIB) / 16;        // highnibble\n    HZ  += ((msg.payload[ofs] & MASK_LOWNIB) * 100);      // lownibble\n    \n    ofs ++;  // 7 [0x34]\n    \n    KHZ += (((msg.payload[ofs] & MASK_HIGHNIB) / 16 ) * 100);  // highnibble\n    KHZ += ((msg.payload[ofs] & MASK_LOWNIB )        * 10);    // lownibble\n    \n    ofs ++;  // 8 [0x12]\n    \n    MHZ =  (((msg.payload[ofs] & MASK_HIGHNIB) / 16 )  * 10);  // highnibble\n    MHZ += ((msg.payload[ofs] & MASK_LOWNIB )             );   // lownibble\n    \n    FREQ = (MHZ * 1000) + KHZ + (HZ / 1000);\n    msg.freq = FREQ;\n    \n    if (MHZ < 10){\n        MHZ = \"0\" + MHZ;\n    }\n    \n    if (KHZ < 99 ){\n        KHZ = \"0\" + KHZ;\n        if (KHZ < 10){\n            KHZ = \"0\" + KHZ;\n        }\n    }\n    \n    msg.MHZ = MHZ;\n    msg.KHZ = KHZ;\n   \n    if (addDebug)\n    {\n        msg.MHZ = MHZ;  // 12\n        msg.KHZ = KHZ;  // 345\n        msg.HZ  = HZ;   // 67\n    }\n    \n    //if find error dont update DashBoard\n    if (MHZ <= 30){\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2640,
        "wires": [
            [
                "c6ca9825f09623cf"
            ]
        ]
    },
    {
        "id": "6c1e65836f2d2544",
        "type": "ui_level",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 29,
        "width": 0,
        "height": 0,
        "name": "S-Meter",
        "label": "S ",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "1",
        "max": "9",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "rocket",
        "shape": "1",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": true,
        "property": "S",
        "peaktime": 3000,
        "x": 1280,
        "y": 2900,
        "wires": []
    },
    {
        "id": "b639c8b9b0d98ce1",
        "type": "comment",
        "z": "08bf4f59bd2b72bb",
        "name": "not working !",
        "info": "",
        "x": 420,
        "y": 680,
        "wires": []
    },
    {
        "id": "6000a63605b30cae",
        "type": "comment",
        "z": "08bf4f59bd2b72bb",
        "name": "Get AGC Work! but display on rig not refresh",
        "info": "",
        "x": 830,
        "y": 3260,
        "wires": []
    },
    {
        "id": "f9a9e57ffa3ed9ec",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Volume",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x14\",\"0x01\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 190,
        "y": 2500,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "586811909a70989f",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "S",
        "topi": "topic",
        "x": 840,
        "y": 2940,
        "wires": [
            [
                "0b0551d6e5957946",
                "d0c1c0976343b078"
            ]
        ]
    },
    {
        "id": "847155fdb2888a3e",
        "type": "ui_slider",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "Volume",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1040,
        "y": 2840,
        "wires": [
            [
                "ae5c061794b7d874"
            ]
        ]
    },
    {
        "id": "ae5c061794b7d874",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1180,
        "y": 2840,
        "wires": [
            [
                "e9b6e69ec63f3383"
            ]
        ]
    },
    {
        "id": "e9b6e69ec63f3383",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "var a = 0xFE;\nvar b = 0xFE;\nvar c = 0x88;\nvar d = 0xE0;\nvar e = 0x14; // command\nvar f = 0x01; // sub-command\nvar g;\nvar h;\nvar i = 0xFD;\nvar k = [];\n\nvar value = msg.payload;\n\nif (value > 199 && value < 256) {\n    g = 0x02;\n      value = value - 200;\n}\n\nelse if (value > 99 && value < 200) {\n    g = 0x01;\n    value = value - 100;\n} \n\nelse {\n    g = 0x00;\n}\n\nh = parseInt(value,16);\n\nk = [a,b,c,d,e,f,g,h,i];\n\nmsg.payload = new Buffer(k);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 2840,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "4d1dd23410fd0cae",
        "type": "ui_slider",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "label": "SQL",
        "tooltip": "",
        "group": "14a5ecb8405f0776",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1010,
        "y": 2720,
        "wires": [
            [
                "96b9a50fa7fd2504"
            ]
        ]
    },
    {
        "id": "96b9a50fa7fd2504",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1140,
        "y": 2720,
        "wires": [
            [
                "b7baf7207766a502"
            ]
        ]
    },
    {
        "id": "b7baf7207766a502",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "var a = 0xFE;\nvar b = 0xFE;\nvar c = 0x88;\nvar d = 0xE0;\nvar e = 0x14; // command\nvar f = 0x03; // sub-command\nvar g;\nvar h;\nvar i = 0xFD;\nvar k = [];\n\nvar value = msg.payload;\n\nif (value > 199 && value < 256) {\n    g = 0x02;\n      value = value - 200;\n}\n\nelse if (value > 99 && value < 200) {\n    g = 0x01;\n    value = value - 100;\n} \n\nelse {\n    g = 0x00;\n}\n\nh = parseInt(value,16);\n\nk = [a,b,c,d,e,f,g,h,i];\n\nmsg.payload = new Buffer(k);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 2720,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "bb293f07e2aad4b3",
        "type": "ui_dropdown",
        "z": "08bf4f59bd2b72bb",
        "name": "AGC",
        "label": "AGC",
        "tooltip": "AGC",
        "place": "Select option",
        "group": "14a5ecb8405f0776",
        "order": 19,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "AGC: OFF",
                "value": 0,
                "type": "num"
            },
            {
                "label": "AGC: Slow",
                "value": 2,
                "type": "num"
            },
            {
                "label": "AGC: Auto",
                "value": 3,
                "type": "num"
            },
            {
                "label": "AGC: Fast",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "AGC",
        "topicType": "msg",
        "className": "",
        "x": 990,
        "y": 3120,
        "wires": [
            [
                "cbedc08d0a6c110d"
            ]
        ]
    },
    {
        "id": "cbedc08d0a6c110d",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "AGC",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Slow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Middle",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Fast",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1130,
        "y": 3120,
        "wires": [
            [
                "257fab49f254ce90"
            ],
            [
                "bd2f09983a51dc9e"
            ],
            [
                "33084815721eff58"
            ],
            [
                "f0eeb1b18e47a262"
            ]
        ]
    },
    {
        "id": "257fab49f254ce90",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x12\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3060,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "bd2f09983a51dc9e",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "Slow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x12\",\"0x03\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3100,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "33084815721eff58",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "Middle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x12\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3140,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "f0eeb1b18e47a262",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "Fast",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x12\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3180,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "92dda92aa1a738ce",
        "type": "ui_text",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 4,
        "width": "3",
        "height": "2",
        "name": "MHZ",
        "label": "MHZ",
        "format": "<font size = 16>{{msg.MHZ}}",
        "layout": "col-center",
        "className": "",
        "x": 1030,
        "y": 2620,
        "wires": []
    },
    {
        "id": "23f4403199cf397a",
        "type": "ui_text",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 5,
        "width": "3",
        "height": "2",
        "name": "KHZ",
        "label": "KHZ",
        "format": "<font size = 16>{{msg.KHZ}}",
        "layout": "col-center",
        "className": "",
        "x": 1030,
        "y": 2660,
        "wires": []
    },
    {
        "id": "b8c6d893308cfbef",
        "type": "ui_text",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "empty",
        "label": "",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 390,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f08b71aa8b84b192",
        "type": "ui_text",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 14,
        "width": "1",
        "height": "1",
        "name": "empty",
        "label": "",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 1300,
        "wires": []
    },
    {
        "id": "99ef0848469a727a",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get S-Meter",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get S-METER\n// Real VE2CUZ\n\n\nconst CMD_GET_SMETER = 0x15;\nconst SUB_GET_SMETER = 0x02;\nconst RADIO_ADDR = 0x88;    // change this to your radio address\nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar destination = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar S = 0;\nvar dB = 0;\n\ndestination = msg.payload[2];\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x15\nsubCommand  = msg.payload[5]; //0x02\n\nif (command == CMD_GET_SMETER && subCommand == SUB_GET_SMETER && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    s  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    s  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n    else if(msg.payload.length === 9) {\n        s  =  ((msg.payload[7] & MASK_HIGHNIB) / 16 ) * 1000; // highnibble\n    s  += ((msg.payload[7] & MASK_LOWNIB)  * 100    );     \n    s  += ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    s  += ((msg.payload[6] & MASK_LOWNIB)      );    \n    }\n    // radio return value 0-255\n    dB = s / 2;  // return value in dB\n    S = dB / 6;   // return value in S units\n    \n    msg.S = S;\n    msg.dB = dB;\n    \nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2940,
        "wires": [
            [
                "586811909a70989f"
            ]
        ]
    },
    {
        "id": "a05d6c6139b93375",
        "type": "ui_text",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 28,
        "width": 0,
        "height": 0,
        "name": "dB",
        "label": "",
        "format": "<font size = 10>{{msg.dB}}",
        "layout": "col-center",
        "className": "",
        "x": 1330,
        "y": 2960,
        "wires": []
    },
    {
        "id": "0b0551d6e5957946",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Limit value at 9",
        "func": "S = msg.S;\nif (S > 9){\n    S = 9;\n}\n\nmsg.S = S;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 2900,
        "wires": [
            [
                "6c1e65836f2d2544"
            ]
        ]
    },
    {
        "id": "3722d1d3112b0796",
        "type": "comment",
        "z": "08bf4f59bd2b72bb",
        "name": "dB chart",
        "info": "S9 + 40 dB\nS9 + 30 dB\nS9 + 20 dB\nS9 + 10 dB \nS9 \t-73 dBm \nS8 \t-79 dBm \nS7 \t-85 dBm \nS6 \t-91 dBm \nS5 \t-97 dBm \nS4 \t-103 dBm \nS3 \t-109 dBm \nS2 \t-115 dBm \nS1 \t-121 dBm ",
        "x": 1500,
        "y": 2940,
        "wires": []
    },
    {
        "id": "d0c1c0976343b078",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "10",
        "maxin": "21",
        "minout": "72",
        "maxout": "13",
        "action": "scale",
        "round": true,
        "property": "S",
        "name": "",
        "x": 1040,
        "y": 2960,
        "wires": [
            [
                "d443ad21d05e3d21"
            ]
        ]
    },
    {
        "id": "d443ad21d05e3d21",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "S = msg.S;\n\nif (S < 73 && S > 12 ){\n    var dB = (73 - S);\n    dB = \"S9+\" + dB + \"dB\";\n    msg.dB = dB; \n    return msg;\n} \nelse {\n    msg.dB = \"\";\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 2960,
        "wires": [
            [
                "a05d6c6139b93375"
            ]
        ]
    },
    {
        "id": "e2075e2449170fc5",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get Volume",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get Volume\n// Real VE2CUZ\n\n\nconst CMD_GET_VOL = 0x14;\nconst SUB_GET_VOL = 0x01;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar vol = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x14\nsubCommand  = msg.payload[5]; //0x01\n\nif (command == CMD_GET_VOL && subCommand == SUB_GET_VOL && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    vol  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    vol  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n    else if(msg.payload.length === 9) {\n    vol  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 1000; // highnibble\n    vol  += ((msg.payload[6] & MASK_LOWNIB)  * 100    );     \n    vol  += ((msg.payload[7] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    vol  += ((msg.payload[7] & MASK_LOWNIB)      );    \n    }\n    // radio return value 0-255\n    msg.vol = vol;\n    \n     if (addDebug)\n    {\n        msg.payload = vol; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2840,
        "wires": [
            [
                "9019e5a0a110a0bf"
            ]
        ]
    },
    {
        "id": "934f796b06d3d437",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Vol",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 910,
        "y": 2840,
        "wires": [
            [
                "847155fdb2888a3e"
            ]
        ]
    },
    {
        "id": "9019e5a0a110a0bf",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 780,
        "y": 2840,
        "wires": [
            [
                "934f796b06d3d437"
            ]
        ]
    },
    {
        "id": "f08e19a580dbf803",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Sqelch",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x14\",\"0x03\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2180,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "5392df8401397538",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get SQL",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get Squelch\n// Real VE2CUZ\n\n\nconst CMD_GET_SQL = 0x14;\nconst SUB_GET_SQL = 0x03;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar sql = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x14\nsubCommand  = msg.payload[5]; //0x03\n\nif (command == CMD_GET_SQL && subCommand == SUB_GET_SQL && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    sql  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    sql  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n    else if(msg.payload.length === 9) {\n    sql  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 1000; // highnibble\n    sql  += ((msg.payload[6] & MASK_LOWNIB)  * 100    );     \n    sql  += ((msg.payload[7] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    sql  += ((msg.payload[7] & MASK_LOWNIB)      );    \n    }\n    // radio return value 0-255\n    msg.sql = sql;\n    \n     if (addDebug)\n    {\n        msg.payload = sql; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2720,
        "wires": [
            [
                "28e6dd9a40d561b4"
            ]
        ]
    },
    {
        "id": "28e6dd9a40d561b4",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 760,
        "y": 2720,
        "wires": [
            [
                "1015f7ca57307ce1"
            ]
        ]
    },
    {
        "id": "1015f7ca57307ce1",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Sql",
        "func": "narrowbandEq",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 890,
        "y": 2720,
        "wires": [
            [
                "4d1dd23410fd0cae"
            ]
        ]
    },
    {
        "id": "44e2fcbce6b283f1",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get TX Power",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x14\",\"0x0A\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 190,
        "y": 2220,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "a5b1b76303512220",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get TX-Power",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get TX-Power\n// Real VE2CUZ\n\n\nconst CMD_GET_TXPOWER = 0x14;\nconst SUB_GET_TXPOWER = 0x0A;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar txpower = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x14\nsubCommand  = msg.payload[5]; //0xA0\n\nif (command == CMD_GET_TXPOWER && subCommand == SUB_GET_TXPOWER && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    txpower  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    txpower  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n    else if(msg.payload.length === 9) {\n    txpower  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 1000; // highnibble\n    txpower  += ((msg.payload[6] & MASK_LOWNIB)  * 100    );     \n    txpower  += ((msg.payload[7] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    txpower  += ((msg.payload[7] & MASK_LOWNIB)      );    \n    }\n    // radio return value 0-255\n    msg.txpower = txpower;\n    \n     if (addDebug)\n    {\n        msg.payload = txpower; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2780,
        "wires": [
            [
                "bff5fc27b2c80d64"
            ]
        ]
    },
    {
        "id": "bff5fc27b2c80d64",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "1",
        "maxin": "255",
        "minout": "1",
        "maxout": "20",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 770,
        "y": 2780,
        "wires": [
            [
                "41ba28cb7ea5de45"
            ]
        ]
    },
    {
        "id": "41ba28cb7ea5de45",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "TX Power",
        "func": "narrowbandEq",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 900,
        "y": 2780,
        "wires": [
            [
                "2714c273b573f611"
            ]
        ]
    },
    {
        "id": "b1469d2a58ea6732",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get AGC",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x12\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "ed9bd9f681488fef",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get AGC",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get AGC\n// Real VE2CUZ\n\n\nconst CMD_GET_AGC = 0x16;\nconst SUB_GET_AGC = 0x12;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar agc = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x16\nsubCommand  = msg.payload[5]; //0x12\n\nif (command == CMD_GET_AGC && subCommand == SUB_GET_AGC && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    agc  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    agc  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n  \n    msg.agc = agc;\n    \n     if (addDebug)\n    {\n        msg.payload = agc; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 3120,
        "wires": [
            [
                "a7a31b1601157e34"
            ]
        ]
    },
    {
        "id": "a7a31b1601157e34",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 800,
        "y": 3120,
        "wires": [
            [
                "bb293f07e2aad4b3"
            ]
        ]
    },
    {
        "id": "cd026e989fee49be",
        "type": "ui_dropdown",
        "z": "08bf4f59bd2b72bb",
        "name": "Mode",
        "label": "Mode",
        "tooltip": "Mode",
        "place": "Select option",
        "group": "14a5ecb8405f0776",
        "order": 18,
        "width": "0",
        "height": "0",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "MODE: LSB",
                "value": 0,
                "type": "num"
            },
            {
                "label": "MODE: USB",
                "value": 1,
                "type": "num"
            },
            {
                "label": "MODE: AM",
                "value": 2,
                "type": "num"
            },
            {
                "label": "MODE: CW",
                "value": 3,
                "type": "num"
            },
            {
                "label": "MODE: CWR",
                "value": 7,
                "type": "num"
            },
            {
                "label": "MODE: NFM",
                "value": 5,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "mode",
        "topicType": "msg",
        "className": "",
        "x": 990,
        "y": 3300,
        "wires": [
            [
                "c3f4730695eb6bc8"
            ]
        ]
    },
    {
        "id": "c3f4730695eb6bc8",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "Mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1120,
        "y": 3300,
        "wires": [
            [
                "26fd718df867d021"
            ],
            [
                "40f99c52af63695c"
            ],
            [
                "626d9d18373f3032"
            ],
            [
                "67cc65ed093c1c32"
            ],
            [
                "1a91fcf2c825ec2d"
            ],
            [
                "9b93c6289ddc39aa"
            ]
        ]
    },
    {
        "id": "26fd718df867d021",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "LSB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x00\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3240,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "40f99c52af63695c",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "USB",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x01\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3280,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "626d9d18373f3032",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "AM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x02\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3320,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "67cc65ed093c1c32",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "CW",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x03\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3360,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "1a91fcf2c825ec2d",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "CWR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x07\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3400,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "03299aa85c11782a",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get MODE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x04\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2300,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "da41913b3e2e0f5c",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get MODE",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get MODE\n// Real VE2CUZ\n\n\nconst CMD_GET_MODE = 0x04;\n//const SUB_GET_MODE = 0x12;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar mode = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x04\n//subCommand  = msg.payload[5]; //0x12\n\nif (command == CMD_GET_MODE && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    mode  =  ((msg.payload[5] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    mode  += ((msg.payload[5] & MASK_LOWNIB)      );   \n    }\n\n    msg.mode = mode;\n    \n     if (addDebug)\n    {\n        msg.payload = mode; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 3300,
        "wires": [
            [
                "aea3950df1109bb1"
            ]
        ]
    },
    {
        "id": "aea3950df1109bb1",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 800,
        "y": 3300,
        "wires": [
            [
                "cd026e989fee49be"
            ]
        ]
    },
    {
        "id": "9b93c6289ddc39aa",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "NFM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x06\",\"0x05\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 3440,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "60a37af66fdd9fc7",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get ATT",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get ATT\n// Real VE2CUZ\n\nconst CMD_GET_ATT = 0x11;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar att = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x11\n\nif (command == CMD_GET_ATT && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 7){\n    att  =  ((msg.payload[5] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    att  += ((msg.payload[5] & MASK_LOWNIB)      );   \n    }\n    \n    if (att > 0){\n        att = 1;\n    }\n    else {\n        att = 0;\n    }\n\n    msg.att = att;\n    \n     if (addDebug)\n    {\n        msg.payload = att; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 3360,
        "wires": [
            [
                "eb6282a3bbd55ee4"
            ]
        ]
    },
    {
        "id": "f599773d160a10dd",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Preamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x02\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 190,
        "y": 2380,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "e22de85342258efa",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get PREAMP",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get PREAMP\n// Real VE2CUZ\n\n\nconst CMD_GET_PRE = 0x16;\nconst SUB_GET_PRE = 0x02;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar pre = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x16\nsubCommand  = msg.payload[5]; //0x02\n\nif (command == CMD_GET_PRE && subCommand == SUB_GET_PRE && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    pre  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    pre  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n\n if (pre > 0){\n        pre = 1;\n    }\n    else {\n        pre = 0;\n    }\n  \n    msg.pre = pre;\n    \n     if (addDebug)\n    {\n        msg.payload = pre; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 3660,
        "wires": [
            [
                "d3ceacda0d699698"
            ]
        ]
    },
    {
        "id": "b7d6d29b4c724c7e",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get NB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x22\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 170,
        "y": 2420,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "e19f51b50856161b",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get NB",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get NB\n// Real VE2CUZ\n\n\nconst CMD_GET_NB = 0x16;\nconst SUB_GET_NB = 0x22;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar nb = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x16\nsubCommand  = msg.payload[5]; //0x22\n\nif (command == CMD_GET_NB && subCommand == SUB_GET_NB && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    nb  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    nb  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n\n if (nb > 0){\n        nb = 1;\n    }\n    else {\n        nb = 0;\n    }\n    \n    msg.nb = nb;\n    \n     if (addDebug)\n    {\n        msg.payload = nb; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 3800,
        "wires": [
            [
                "7ff67a3273f6a0ba"
            ]
        ]
    },
    {
        "id": "0a8b3738b987b462",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 3800,
        "wires": [
            [
                "11b08f77e95f0a19"
            ]
        ]
    },
    {
        "id": "a1bc3d4daa289733",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get LOCK",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x16\",\"0x50\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "e80d546f2be10e7f",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get LOCK",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get LOCK\n// Real VE2CUZ\n\n\nconst CMD_GET_LOCK = 0x16;\nconst SUB_GET_LOCK = 0x50;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar lock = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x16\nsubCommand  = msg.payload[5]; //0x50\n\nif (command == CMD_GET_LOCK && subCommand == SUB_GET_LOCK && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    lock  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    lock  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n\n if (lock > 0){\n        lock = 1;\n    }\n    else {\n        lock = 0;\n    }\n    \n    msg.lock = lock;\n    \n     if (addDebug)\n    {\n        msg.payload = lock; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 3900,
        "wires": [
            [
                "b4730c8de5b0aba5"
            ]
        ]
    },
    {
        "id": "6aa2ea42454e44fd",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "in",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 3900,
        "wires": [
            [
                "e4d8a9d18bd49fa3"
            ]
        ]
    },
    {
        "id": "c3ec7a87cef85013",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get PTT",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get PTT\n// Real VE2CUZ\n\n\nconst CMD_GET_PTT = 0x1C;\nconst SUB_GET_PTT = 0x00;\nconst RADIO_ADDR = 0x88;    \nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar addDebug = true;\n\nvar ptt = 0;\n\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x1c\nsubCommand  = msg.payload[5]; //0x00\n\nif (command == CMD_GET_PTT && subCommand == SUB_GET_PTT && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    ptt  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    ptt  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n\n if (ptt > 0){\n        ptt = 1;\n    }\n    else {\n        ptt = 0;\n    }\n    \n    msg.ptt = ptt;\n    \n     if (addDebug)\n    {\n        msg.payload = ptt; \n    }\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 3980,
        "wires": [
            [
                "1bbe29e19cae3d7b"
            ]
        ]
    },
    {
        "id": "1bbe29e19cae3d7b",
        "type": "switch",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 3980,
        "wires": [
            [
                "018ad131ebdde641"
            ],
            [
                "47d358b057998fc6"
            ]
        ]
    },
    {
        "id": "47d358b057998fc6",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "PTT on",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pttlabel",
                "pt": "msg",
                "to": "TX",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x00\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x00\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 4020,
        "wires": [
            [
                "26033f0c7edade43"
            ]
        ]
    },
    {
        "id": "018ad131ebdde641",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "PTT off",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "Blue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "pttlabel",
                "pt": "msg",
                "to": "PTT",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x00\",\"0x00\",\"0xFD\"]",
                "tot": "bin"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x00\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 3980,
        "wires": [
            [
                "26033f0c7edade43"
            ]
        ]
    },
    {
        "id": "a40b91731918318c",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x11\",\"0x01\",\"0xFD\"]",
                "tot": "bin"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 3540,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "450a95e55618fbef",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 3600,
        "wires": [
            [
                "d3ceacda0d699698"
            ]
        ]
    },
    {
        "id": "c90c4a89255c47c0",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 3540,
        "wires": [
            [
                "d3ceacda0d699698"
            ]
        ]
    },
    {
        "id": "3ddf0fd5556422f1",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 3660,
        "wires": [
            [
                "7bd694c5772f9646"
            ]
        ]
    },
    {
        "id": "6d2733f59c2cfa18",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 3480,
        "wires": [
            [
                "eb6282a3bbd55ee4"
            ]
        ]
    },
    {
        "id": "2254c5b3c2ea937a",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 3440,
        "wires": [
            [
                "eb6282a3bbd55ee4"
            ]
        ]
    },
    {
        "id": "711c8294c98cdc22",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "Block unless Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1000,
        "y": 3420,
        "wires": [
            [
                "aed6d944a040185b"
            ]
        ]
    },
    {
        "id": "2815ee987d298f6f",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 510,
        "y": 3700,
        "wires": [
            [
                "d3ceacda0d699698"
            ]
        ]
    },
    {
        "id": "dfc5d66d101bd7b4",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": ".5",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 570,
        "y": 3400,
        "wires": [
            [
                "eb6282a3bbd55ee4"
            ]
        ]
    },
    {
        "id": "209e68b1b622b263",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get PWR",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x15\",\"0x11\",\"0xFD\"]",
        "payloadType": "bin",
        "x": 170,
        "y": 2100,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "b3ef123be07d59b4",
        "type": "function",
        "z": "08bf4f59bd2b72bb",
        "name": "Parse CI-V Get PWR",
        "func": "// Sample of parsing raw CI-V packets\n// Mode 15 Get SWR\n// Real VE2CUZ\n\n\nconst CMD_GET_PWR = 0x15;\nconst SUB_GET_PWR = 0x11;\nconst RADIO_ADDR = 0x88;    // change this to your radio address\nconst MASK_HIGHNIB = 0xF0;\nconst MASK_LOWNIB = 0x0F;\n\nvar sender = 0;\nvar destination = 0;\nvar command = 0;\nvar subCommand = 0;\n\nvar pwr = 0;\n\ndestination = msg.payload[2];\nsender      = msg.payload[3];\ncommand     = msg.payload[4]; //0x15\nsubCommand  = msg.payload[5]; //0x12\n\nif (command == CMD_GET_PWR && subCommand == SUB_GET_PWR && sender == RADIO_ADDR)\n{\n    if(msg.payload.length === 8){\n    pwr  =  ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    pwr  += ((msg.payload[6] & MASK_LOWNIB)      );   \n    }\n    else if(msg.payload.length === 9) {\n        s  =  ((msg.payload[7] & MASK_HIGHNIB) / 16 ) * 1000; // highnibble\n    pwr  += ((msg.payload[7] & MASK_LOWNIB)  * 100    );     \n    pwr  += ((msg.payload[6] & MASK_HIGHNIB) / 16 ) * 10; // highnibble\n    pwr  += ((msg.payload[6] & MASK_LOWNIB)      );    \n    }\n    \n    msg.payload = pwr;\n   \nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 4080,
        "wires": [
            [
                "ecfe6c9e7392f57a"
            ]
        ]
    },
    {
        "id": "7b25cb538cc8c840",
        "type": "ui_level",
        "z": "08bf4f59bd2b72bb",
        "group": "14a5ecb8405f0776",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "PWR",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "20",
        "segWarn": "",
        "segHigh": "",
        "unit": "Watts",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": "1",
        "animations": "reactive",
        "shape": "1",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1030,
        "y": 4100,
        "wires": []
    },
    {
        "id": "ecfe6c9e7392f57a",
        "type": "rbe",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 4080,
        "wires": [
            [
                "0b25116013a3d04e"
            ]
        ]
    },
    {
        "id": "0b25116013a3d04e",
        "type": "range",
        "z": "08bf4f59bd2b72bb",
        "minin": "0",
        "maxin": "200",
        "minout": "0",
        "maxout": "20",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 870,
        "y": 4080,
        "wires": [
            [
                "7b25cb538cc8c840"
            ]
        ]
    },
    {
        "id": "18cded3cbd58229d",
        "type": "comment",
        "z": "08bf4f59bd2b72bb",
        "name": "Preset",
        "info": "",
        "x": 340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4851afeb80d86e49",
        "type": "comment",
        "z": "08bf4f59bd2b72bb",
        "name": "Manualy VFO Adjust",
        "info": "",
        "x": 220,
        "y": 1220,
        "wires": []
    },
    {
        "id": "41320f2fc814984a",
        "type": "trigger",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V GET PTT",
        "op1": "status",
        "op2": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x1C\",\"0x00\",\"0xFD\"]",
        "op1type": "flow",
        "op2type": "bin",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1540,
        "y": 4000,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "22db67e0d69bcd67",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "every  1sec",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 1880,
        "wires": [
            [
                "aa349cc82c1f4998",
                "439fe51682472b09"
            ]
        ]
    },
    {
        "id": "aa349cc82c1f4998",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Freq",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x03\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1880,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "439fe51682472b09",
        "type": "delay",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 1920,
        "wires": [
            [
                "4f4af4069489bbff",
                "8d3d862c7333b490"
            ]
        ]
    },
    {
        "id": "4f4af4069489bbff",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-C Get S-Meter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x15\",\"0x02\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1920,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "8d3d862c7333b490",
        "type": "delay",
        "z": "08bf4f59bd2b72bb",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 1960,
        "wires": [
            [
                "67829ff82b8d02d3"
            ]
        ]
    },
    {
        "id": "67829ff82b8d02d3",
        "type": "change",
        "z": "08bf4f59bd2b72bb",
        "name": "CI-V Get Power",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\"0xFE\",\"0xFE\",\"0x88\",\"0xE0\",\"0x15\",\"0x11\",\"0xFD\"]",
                "tot": "bin"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1960,
        "wires": [
            [
                "a10789b40779f359"
            ]
        ]
    },
    {
        "id": "087bc3629f097306",
        "type": "inject",
        "z": "08bf4f59bd2b72bb",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 570,
        "y": 4020,
        "wires": [
            [
                "1bbe29e19cae3d7b"
            ]
        ]
    },
    {
        "id": "4f46147fbb90ce43",
        "type": "serial-port",
        "z": "08bf4f59bd2b72bb",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "0xFE",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "0xFD",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "14a5ecb8405f0776",
        "type": "ui_group",
        "name": "XIEGU-G90",
        "tab": "5ea71cd8f787487c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec716c16.1aa96",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "19200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "0xFD",
        "bin": "bin",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5ea71cd8f787487c",
        "type": "ui_tab",
        "name": "Ham-Radio",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]